body{
    font-family: Arial, Helvetica, sans-serif;
    background: #75a6c7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;    
}

.widget{
    background: #fff;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
    width: 520px;
    text-align: center;
    border: #000000 solid 0.5px;
}

.widget h2{
    margin-top: 0;
    color: #333;
}

.palette{
    margin: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.color-row{
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 6px 5px;
    border-radius: 6px;
    transition: transform 0.2s,background 0.2s;
}

.color-row:hover{
    transform: scale(1.02);
    background: rgba(0, 0, 0, 0.03);
}

.color-box{
    width: 15px;
    height: 15px;
    border-radius: 15px;
    margin-right: 12px;
    flex-shrink: 0;
    border: 1px solid #ccc;
}

.color-code{
    font-size: 14px;
    color: #555;
    font-family: monospace;
}

button{
    background: #00bfa5;
    color: #fff;
    border: none;
    padding: 10px 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.2s;
    margin: 10px;

}

button:hover{
    background: #008f7f;

}